@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	background-image: url("../images/logo.jpg");
	
}

.topo {
	width: 100%;
	height: 50px;
	background-color: black;
	border-bottom: 3px solid #fbb45a;
	
}
.topoint {
	width: 100%;
	height: 50px;
	max-width: 1080px;
	margin: auto;
}
.topoint ul {
	margin: 0px;
	justify-content: center;
	list-style: none;
	line-height: 50px;
	display: flex;
	
}
.topoint li {
	padding:0px 30px;
	color: #fbb45a;
}

.topoint a {
	text-decoration: none;
	color: #fbb45a;
	line-height: 50px;
}

.topoint li:hover {
	background-color: #fbb45a;
	color: black;
	cursor: pointer;
}

.containerint {
	width: 100%;
	margin: auto;
	height: 500px;
}

.slideshow {
	overflow: hidden;
	margin: auto;
}
.slideshowarea {
	width: 1000000px;
	transition: all 2s;
}

.slide {
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.slide img {
	width: 100%;
	height: 500px;
}

.favoritos {
	width: 100%;
}

.favoritosint {
	display: flex;
	width: 100%;
	margin: auto;
	background-color:black ;
	border-bottom: 3px solid #fbb45a;
	border-top: 3px solid #fbb45a;
}
.fidelidade {
	display: flex;
	width: 100%;
	max-width: 1080px;
	flex-direction: column;
	align-items: center;
	margin: auto;
}

p {
	font-size: 20px;
	color: #fbb45a;
	text-align: center;
}
.f1 {
	display: flex;
	justify-content: center;
	padding: 10px;
	width: 150px;
	background-color: #fbb45a;
	color: black;
	cursor: pointer;
	font-size: 18px;
	margin-bottom: 20px;
}
.f1:hover {
	background-color: black;
	color: #fbb45a;
	border: 2px solid #fbb45a;
}

.extras {
	width: 100%;
}

.extrasint {
	width: 100%;
	height: auto;
	max-width: 1080px;
	margin: auto;
}

.e1 {
	width: 100%;
	max-width: 1080px;
	margin: auto;
	height: 333px;
	display: flex;
	background-color: black;
	color: #fbb45a;
	border-bottom: 3px solid #fbb45a;
}
.e1 img {
	width: 502px;
	height: 333px;
}

.texto {
	width: 54%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.texto h1 {
	display: flex;
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
}

.texto p {
	text-align: center;
	line-height: 30px;
	padding: 0px 10px;
}
.valor {
	border: 2px solid #fbb45a;
}
/*.valorcheese {
	display: flex;
	flex-direction: column;
}*/
.peca {
	display: flex;
	justify-content: center;
	padding: 10px;
	width: 150px;
	background-color: #fbb45a;
	color: black;
	cursor: pointer;
	font-size: 18px;
	
}

.peca:hover {
	background-color: black;
	color: #fbb45a;
	border: 2px solid #fbb45a;
}








.e2 {
	width: 100%;
	max-width: 1080px;
	margin: auto;
	height: 333px;
	display: flex;
	background-color: black;
	color: #fbb45a;
	border-bottom: 3px solid #fbb45a;
}
.e2 img {
	width: 502px;
	height: 333px;
}

.texto {
	width: 54%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.texto h1 {
	display: flex;
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
}

.texto p {
	text-align: center;
	line-height: 28px;
	padding: 0px 10px;
}

.peca {
	display: flex;
	justify-content: center;
	padding: 10px;
	width: 150px;
	background-color: #fbb45a;
	color: black;
	cursor: pointer;
	font-size: 18px;
	
}

.peca:hover {
	background-color: black;
	color: #fbb45a;
	border: 2px solid #fbb45a;
}
.cardapio {
	width: 100%;
}
.cardapioint {
	width: 100%;
	max-width: 1080px;
	margin: auto;
	height: auto;
}
.paes {
	border-bottom:  3px solid #fbb45a;
}

.paesint {
	background-color: black;
	display: flex;
	justify-content: center;
	color: #fbb45a;
}
.paesint img {
	width: 200px;
	height: 100px;
	margin-bottom: 10px;
}
.crocante, .leite {
	margin: 0px 15px 10px 15px;
}
.crocante h1 {
	text-align: center;

}
.mais {
	display: flex;
	justify-content: center;
	padding:10px 10px 8px 10px;
}
.mais img {
	width: 100px;
	height: 100px;
	border: 2px solid #fbb45a;
	cursor: pointer;
}
.cheese {
	margin-top: 20px;
}
.cordeiro {
	display: flex;
	flex-direction: column;
	align-items: center; 
}
.cordeiro h1 {
	padding: 0px;
	margin: 9px 0px 0px 0px;
}
.valorcordeiro, .valordetona {
	margin: 0px 0px 20px 0px;
	border: 2px solid #fbb45a;
}
.detonation2 {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#don {
	margin-bottom: 20px;
}
#fraldinha, #trimentao {
	margin: 15px 0px 0px 0px;
}

.delivery {
	width: 100%
	color: #fbb45a;
	height: auto;
	background-color:black;
	border-bottom: 3px solid #fbb45a;
	border-top: 3px solid #fbb45a;
}

.deliveryint {
	width: 100%;
	max-width: 1080px;
	margin: auto;
	height: auto;
}

.information p {
	font-size: 30px;
}


footer {
	width: 100%;
	background-color: black;
	border-bottom: 3px solid #fbb45a;
}
.rodape {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 20px;
	margin: auto;
	width: 50%;
	max-width: 1080px;
	color: #fbb45a;
	font-size: 30px;
	background-color: black;
}

.rodape1 {
	display: flex;
	color: #fbb45a;
	align-items: center;
	flex-direction: column;
	width: 50%;
	padding-top: 10px;
	font-size: 25px;
}
.tel {
	display: flex;
	align-items: center;
	width: 96%;
}
.tel img {
	margin-left: 30px;
	width: 50px;
	height: 50px;
}
.rodape1 img {
	width: 50px;
	height: 50px;
}
.rodapemaster {
	display: flex;
	justify-content: space-around;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	max-width: 1080px;
}
